.post {
  background-color: rgb(10, 10, 10);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post__header {
  display: flex;
  margin-bottom: 10px;
}

.post__info {
  margin-left: 10px;
}

.post__info > p {
    font-size: 13px;
    color: var(--heading-color);
}

.post__body {
    overflow-wrap: anywhere;
    border-bottom: 0.2px solid rgb(49, 49, 49);
    padding-bottom: 15px;
}

.post__info > h2 {
    font-size: 16px;
}

.post__buttons {
    display: flex;
    justify-content: space-evenly;
}